<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>اضافة معلم</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrapFile/Bmain.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/addTeacher.css}" />
	<script th:src="@{/bootstrapFile/Bmain.js}"></script>
	<script th:src="@{/bootstrapFile/Bmain1.js}"></script>
	<script th:src="@{/bootstrapFile/Bmain2.js}"></script>
</head>

<body style="display: float;justify-content: center;align-items: center; height: 100vh;">
	<nav style="direction: rtl" class="navbar navbar-dark bg-black fixed-top">
		<div class="container-fluid">
			<div class="col align-self-center">
				<span class="navbar-brand">روضه طلائع الامل النموذجيه</span>
			</div>
			<div class="container w-25">
				<h2 class="textHead"></h2>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
				aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header" style="direction: rtl">
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
					<h5 class="offcanvas-title" th:text="${nameOfTeacher}" id="offcanvasDarkNavbarLabel">

					</h5>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<form method="get" th:action="@{/admin/panel}">
								<div class="row mt-2" style="direction: rtl">
									<div class="col-1 mt-1">
										<img style="width: 30px; cursor: pointer" th:src="@{/image/navbar/home.png}"
											alt="" />
									</div>
									<div class="col-10">
										<button type="submit" class="btn btn-link nav-link float-end">
											الصفحه الرئيسية
										</button>
									</div>
								</div>
							</form>
						</li>
						<li class="nav-item">
							<form method="get" th:action="logout">
								<div class="row mt-2" style="direction: rtl">
									<div class="col-1 mt-1">
										<img style="width: 30px; cursor: pointer" th:src="@{/image/navbar/logout.png}"
											alt="" />
									</div>
									<div class="col-10">
										<button type="submit" class="btn btn-link nav-link float-end">
											تسجيل الخروج
										</button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div style="padding-top: 60px;" class="container">
		<h1 class="container d-flex justify-content-center">اضافة معلم جديد</h1>
		<div class="form-group  pt-4">
			<input type="text" class="form-control text-center" id="name" placeholder="اسم المعلم" name="name" required>
		</div>
		<div class="form-group  pt-4">
			<input type="password" class="form-control text-center" id="password" placeholder="الرقم السري"
				name="password" required>
		</div>
		<div class="form-group  pt-4">
			<input type="text" class="form-control text-center" id="username"
				placeholder="اسم المستخدم الخاص بالمعلم فقط باللغه الانجليزيه" name="userName" required>
		</div>
		<button type="button" id="submitButton" class="btn btn-primary mt-4">اضافة</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header d-flex" id="header">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
								stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
								stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
								stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
						</svg>
					</div>
					<div id="respon" class="modal-body text-center">
						تم اضافه الاستاذ
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/jsFile/jQuery.js}"></script>
	<script th:src="@{/jsFile/addteacher.js}"></script>
</body>

</html>