<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Teacher Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrapFile/Bmain.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/addTeacher.css}" />
	<script th:src="@{/bootstrapFile/Bmain.js}"></script>
	<script th:src="@{/bootstrapFile/Bmain1.js}"></script>
	<script th:src="@{/bootstrapFile/Bmain2.js}"></script>
</head>

<body>
	<div class="container">
		<h1>Teacher Form</h1>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" name="userName" required>
		</div>
		<button type="button" id="submitButton" class="btn btn-primary">اضافة</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header d-flex" id="header">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
								stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
								stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
							<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
								stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
						</svg>
					</div>
					<div id="respon" class="modal-body text-center">
						تم اضافه الاستاذ
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/jsFile/jQuery.js}"></script>
	<script th:src="@{/jsFile/addteacher.js}"></script>
</body>

</html>