<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Admin Panel</title>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrapFile/Bmain.css}" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/adminCss.css}" />
</head>

<body class="bg-light">
  <nav style="direction: rtl" class="navbar navbar-dark bg-black fixed-top">
    <div class="container-fluid">
      <div class="col align-self-center">
        <span class="navbar-brand">روضه الامل النموذجيه</span>
      </div>
      <div class="container w-25">
        <h2 class="textHead"></h2>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header" style="direction: rtl">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            {{name}}
          </h5>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"></li>
            <li class="nav-item">
              <form method="get" th:action="logout">
                <div class="row mt-2" style="direction: rtl">
                  <div class="col-1 mt-1">
                    <img style="width: 30px; cursor: pointer" th:src="@{/image/navbar/logout.png}" alt="" />
                  </div>
                  <div class="col-10">
                    <button type="submit" class="btn btn-link nav-link float-end">
                      تسجيل الخروج
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="card" class="container rounded-2">
      <div class="card text-center" style="width: 18rem m-2">
        <div class="card-body">
          <h5 class="card-title">ادخال جميع التلاميذ</h5>
          <div class="mb-3">
            <label class="form-label">قم باختيار ملف الطلاب</label>
            <input class="form-control" id="excelFileInput" accept=".xlsx" type="file">
          </div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" type="submit"
            onclick="button(0)">اضافة الطلاب</button>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem m-2">
        <div class="card-body">
          <h5 class="card-title">بيانات الطلاب</h5>
          <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" type="submit"
            onclick="button(1)">اضافة الطلاب</button>
        </div>
      </div>
  </div>
    <script th:src="@{/bootstrapFile/Bmain.js}"></script>
    <script th:src="@{/bootstrapFile/Bmain1.js}"></script>
    <script th:src="@{/bootstrapFile/Bmain2.js}"></script>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-exclamation-triangle"
              viewBox="0 0 16 16">
              <path
                d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
              <path
                d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
            </svg>
          </div>

          <div class="modal-body fw-bold">
            <p id="alertText"></p>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" style="width:150px" id="closeButtonPost" name="closeButtonPost"
              class="btn btn-success " data-dismiss="modal"> اغلاق</button>
            <a  id="nextBage" style="width:150px" class="btn btn-danger">تأكيد</a>
          </div>

        </div>
      </div>
    </div>
    <script th:src="@{/jsFile/xlsx.full.min.js}"></script>
    <script th:src="@{/jsFile/handleXlsxFile.js}"></script>
    <script th:src="@{/jsFile/buttonModel.js}"></script>

</body>

</html>