<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>List of Objects</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrapFile/Bmain.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/addTeacher.css}" />
    <script th:src="@{/bootstrapFile/Bmain.js}"></script>
    <script th:src="@{/bootstrapFile/Bmain1.js}"></script>
    <script th:src="@{/bootstrapFile/Bmain2.js}"></script>
</head>

<body>
    <nav style="direction: rtl" class="navbar navbar-dark bg-black fixed-top">
        <div class="container-fluid">
            <div class="col align-self-center">
                <span class="navbar-brand">روضه طلائع الامل النموذجيه</span>
            </div>
            <div class="container w-25">
                <h2 class="textHead"></h2>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header" style="direction: rtl">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                    <h5 class="offcanvas-title" th:text="${nameOfTeacher}" id="offcanvasDarkNavbarLabel">

                    </h5>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <form method="get" th:action="@{/admin/panel}">
                                <div class="row mt-2" style="direction: rtl">
                                    <div class="col-1 mt-1">
                                        <img style="width: 30px; cursor: pointer" th:src="@{/image/navbar/home.png}"
                                            alt="" />
                                    </div>
                                    <div class="col-10">
                                        <button type="submit" class="btn btn-link nav-link float-end">
                                            الصفحه الرئيسية
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="get" th:action="logout">
                                <div class="row mt-2" style="direction: rtl">
                                    <div class="col-1 mt-1">
                                        <img style="width: 30px; cursor: pointer" th:src="@{/image/navbar/logout.png}"
                                            alt="" />
                                    </div>
                                    <div class="col-10">
                                        <button type="submit" class="btn btn-link nav-link float-end">
                                            تسجيل الخروج
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="table-responsive" style="padding-top:60px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name student</th>
                    <th>numberPhone</th>
                    <th>dateOfBirth</th>
                    <th>idCode</th>
                    <th>teacherId</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="object : ${student}">
                    <td th:text="${object.getId()}"></td>
                    <td th:text="${object.getName()}"></td>
                    <td th:text="${object.getNumberPhone()}"></td>
                    <td th:text="${object.getDateOfBirth()}"></td>
                    <td th:text="${object.getIdCode()}"></td>
                    <td th:text="${object.getTeacherId()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>